*.DS_Store
*.bak
*.zip
*.vcxproj
*.filters
*.obj
*.idb
*.tlog
Project/RaspberryPi/BSC/.vs/BSC/v15/.suo
*.db
Project/RaspberryPi/BSC/BSC/.vs/BSC/v15/.suo
*.ipch
*.opendb
*.db-shm
*.db-wal
*.log
*.pdb
*.user
GUI/171118_Test1.ewp.bak

Platforms/RaspberryPi/Include/Linux-Serial.h
Platforms/RaspberryPi/Source/Linux-Serial.c
